@{
    ViewBag.Title = "GWAB Berlin";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Agenda</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Zeit</th>
                    <th>Session</th>
                    <th>Speaker</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>08:30 - 09:00</td>
                    <td colspan="2">Registration and caffee</td>
                </tr>
                <tr>
                    <td>09:00 - 09:15</td>
                    <td>Welcome note</td>
                    <td>Organizers</td>
                </tr>
                <tr>
                    <td>09:15 - 10:15</td>
                    <td>session 1</td>
                    <td>speaker</td>
                </tr>
                <tr>
                    <td>14:15 - 15:15</td>
                    <td>
                        <h4>Azure Web Sites</h4>
                        Today it is super easy to build a Web Site – open Visual Studio -> File -> New Project -> Web -> done. But then come the questions: Where to host it? How to deploy it? Can I integrate (and automate deployments) with my own Version Control System? What if something breaks – can I quickly rollback a deployment? By the way, I want staging environment. No, wait, I need UAT too! Oh, I want to deliver this super cool new feature, but it is in Beta – I don’t want all users to see it – let’s divide them 50/50! And this error, that only comes when deployed – how to debug it?
                        In this session we will answer all these questions, and probably more! Still don’t have an Azure Web Site – play with one for an hour, it doesn’t require you to have Azure Subscription: https://trywebsites.azurewebsites.net/
                    </td>
                    <td>Anton Staykov</td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>