@{
    ViewBag.Title = "Speakers";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Speakers</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"><img class="img-rounded img-responsive" src="~/Content/img/astaykov.jpg" alt="Anton Staykov"></div>
            <div class="col-md-10">
                <h3 class="media-heading">Anton Staykov</h3>
                <p>
                    Anton has more than 13 years of professional IT experience.
                    He works with Microsoft Azure since October 2008 when it was first announced and holds
                    Microsoft MVP reward in the field of Azure since April’2011.
                </p>
                <p>
                    Currently serving as a Solutions Architect for  Smarthouse Media GmbH, leader on the German software market
                    delivering oslutions for the Financial Industry.
                </p>
                <p>Anton is always happy to talk about Cloud.  You can reach him at  <a href="https://twitter.com/astaykov">@@astaykov</a> and under <a href="http://blogs.staykov.net/">http://blogs.staykov.net/</a></p>

            </div>
        </div>
        
    </div>
</div>
