@{
    ViewBag.Title = "Speakers";
}
<h2>Speakers</h2>
<ul class="media-list">
    <li class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/Content/img/astaykov.jpg" alt="Anton Staykov">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Anton Staykov</h4>
            <p>Anton has more than 13 years of professional IT experience. 
                He works with Microsoft Azure since October 2008 when it was first announced and holds 
                Microsoft MVP reward in the field of Azure since April’2011.</p> 
            <p>Currently serving as a Solutions Architect for  Smarthouse Media GmbH, leader on the German software market 
            delivering oslutions for the Financial Industry.</p>
             <p>Anton is always happy to talk about Cloud.  You can reach him at  <a href="https://twitter.com/astaykov">@@astaykov</a> and under <a href="http://blogs.staykov.net/">http://blogs.staykov.net/</a></p>
        </div>
    </li>
</ul>
