<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Our Sponsors</h3>
    </div>
    <div class="panel-body">
            <h3>Global Sponsors:</h3>
            <a href="http://www.microsoft.com/" target="_blank"><img src="~/Content/microsoft.png" alt="Sponsor - Microsoft" class="img-responsive"></a>
            <div><a href="http://global.azurebootcamp.net/sponsors/" title="Global Azure Bootcamp | Sponsors" target="_blank"> view all <span class="m">&gt;</span></a></div>
    </div>
</div>

<a class="twitter-timeline" href="https://twitter.com/hashtag/gwab" data-widget-id="580721117079322624">#gwab Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
